.login-card {
  margin-top: 5vh;
  .row {
    @media screen and (max-height: 649px) and (min-height: 300px) {
      height: 160vh;
    }
    @media screen and (max-height: 650px) and (min-height: 600px)  {
      height: 120vh;
    }
    height: 90vh;
  }
}

.page-container {
  height: 100vh;
  .center-card {
    height: 60vh;
    margin-top: 20vh;
  }
}

.searchpage-container {
  height: 100%;
  background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbx020119benson13-1546454283.png');
  background-blend-mode: hard-light;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  h3 {
    font-weight: bold;
  }
  overflow: auto;
  .col {
    max-height: 230px;
  }
}

.bg-text {
  text-shadow: 1px 1px 2px #292929;
}

.font-bold {
  font-weight: 600;
}

.d-none {
  display: none;
}

.h-100 {
  height: 100%;
}

.status-msg {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 8px;
}